.pagination {
    display: flex;
    gap: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.pageItem a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--milk-color);
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-black-color);
    font-family: Inter;
    font-size: 13px;
    cursor: pointer;
    transition-duration: .5s;

}
.pageItem a:focus {
    outline: none;
}

.pageItem a:hover {
    background-color: var(--active-todo);
    color: var(--milk-color);
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, .2);
}

.pageItem a:active {
    background-color: var(--milk-color);
    color: var(--text-black-color);
}

.pageItemActive a {
    background-color: var(--active-todo);
    color: var(--milk-color);
}