.addTodo {
    display: flex;
    font-size: 20px;
    color: var(--active-todo);
    font-family: Inter;
    position: relative;
    margin-right: 5px;

}

.addTodo input {
    display: block;
    width: 95%;
    height: 2em;
    line-height: 3em;
    border-radius: .3em;
    border: none;
    padding: 0 1.5em;
    margin-left: 10px;
    outline: none;
    transition-duration: .5s;
    background-color: var(--milk-color);
}

.addTodo input:focus {
    outline: #73605B 1px solid;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, .2);

}

.addTodo input:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

.addTodo button {
    position: absolute;
    top: .4em;
    right: 1.6em;
    height: 2.2em;
    border-radius: .3em;
    border: none;
    text-transform: uppercase;
    background: var(--milk-color);
    transition-duration: .5s;
}

.addTodo button:active {

    background-color: var(--active-todo);

}
.addTodo button:focus {
    outline: none;
}
.addTodo button:hover {
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, .2);
}
